.pilotContainer{
  font-size: small;
  margin-top: 2.5em;
  display: grid;

  gap: 1em;
  grid-template-columns: repeat(5, 1fr);

}

.pilotCard{


  border-radius: 10px;
  background-color: #E28413;
  text-align: center;

  transition: box-shadow 0.3s, background-color 0.3s;
}

.pilotCard:hover{
  background-color: #EB8F1E;
  box-shadow: 0 0 10px #EB8F1E;  
}

